@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

.loader {
  margin-left: 40px;
}

body {
  background-color: #f3f5f9;
}

#logoutButton {
  cursor: pointer;
}

.space {
  margin-right: 5px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 230px;
  height: 100%;
  background: #39a487;
  padding: 30px 0px;
  position: fixed;
  z-index: 1000;
}

.wrapper .sidebar h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li {
  position: relative;
  padding: 15px;
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li .Count {
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  text-align: center;
  display: inline-block;
  border-radius: 12px;
  background-color: #005156;
  color: whitesmoke !important;
  padding: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 30px;
}

.wrapper .sidebar ul a.active li {
  background-color: #318d74;
}

.wrapper .sidebar ul li p {
  color: #fff;
  display: block;
}

.wrapper .sidebar ul li p .fas {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: #3aae8f;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.wrapper .sidebar .bottom_icons {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .sidebar .bottom_icons a,
.wrapper .sidebar .bottom_icons #logoutButton {
  display: block;
  width: 40px;
  background: #333333;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content {
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header {
  padding: 10px;
  padding-left: 40px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info {
  margin-left: 40px;
  margin-top: 10px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div {
  margin-bottom: 20px;
}

/* GLOBAL KNAP DESIGN */
.button {
  background-color: #faa892;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.deleteRow {
  background-color: #e41010;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.button2 {
  background-color: #3aae8f;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.selector {
  background-color: #ffffff;
  border: none;
  padding: 10px 32px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

/* CSS TIL TABLE MANAGEMENT */
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #005156;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table th.break,
.content-table td.break {
  max-width: 260px;
  word-break: break-all;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #005156;
}

.move {
  margin-left: 40px;
  margin-top: 12px;
}

.logo {
  width: 150px;
  display: inline-block;
  margin-left: 26px;
  margin-bottom: 5px;
}

.commentAmount > div {
  text-align: center;
  display: inline-block;
  border-radius: 12px;
  background-color: #E4E6EB;
  color: black !important;
  padding: 3px !important;
  margin: 0 0 0 0 !important;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  min-width: 30px;
}

.modal {
  left: 0;
  top: 0;
  position: fixed;
  height: 100vh;
  z-index: 2000;
  width: 100vw;
  background-color: rgba(87, 85, 85, 0.7);
  -webkit-animation: fade-in .3s ease-in 1;
          animation: fade-in .3s ease-in 1;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal > .loaderWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal > .loaderWrapper > .loader {
  margin: 0 auto !important;
}

.modal > .loaderWrapper > h2 {
  margin-top: 13px;
  text-align: center;
  color: #bababa;
  font-weight: 200;
  font-size: 16px;
}

.modal .modalContainer {
  position: absolute;
  top: 43.5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: whitesmoke;
  height: 725px;
  width: 700px;
  border-radius: 3px;
  padding: 25px;
}

.modal .modalContainer.hide {
  display: none;
  visibility: hidden;
}

#newOrderModal .modal-context {
  position: relative;
  height: 100%;
  -webkit-animation: walk-in .3s ease-in 1;
          animation: walk-in .3s ease-in 1;
}

#newOrderModal .modal-context > h4 {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

#newOrderModal .modal-context > .inputField {
  margin-bottom: 10px;
}

#newOrderModal .modal-context > .inputField > .labelfield {
  margin-bottom: 3px;
  font-weight: 100;
  font-size: 13px;
}

#newOrderModal .modal-context > .inputField > input {
  outline: none;
  border-top: 0px solid transparent;
  border-left: 1px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 1px solid #39a487;
  padding: 6px 3px;
  font-size: 16px;
  width: 100%;
  background-color: whitesmoke;
}

#newOrderModal .modal-context > .inputField .dropDown {
  margin-top: 2.3px;
  color: black;
  line-height: 13px;
  outline: none;
  background-color: transparent;
  border: none;
  padding: 3px 0px;
  width: 50%;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid #39a487;
}

#newOrderModal .modal-context .submitOrder {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70%;
  font-size: 20px;
  background-color: #39a487;
  outline: none;
  border-radius: 25px;
  border: 0px solid transparent;
  padding: 20px 16px;
  color: whitesmoke;
}

#newOrderModal .modal-context .submitOrder:hover {
  cursor: pointer;
  background-color: #318d74;
}

#newOrderModal .modal-context .buttonsContainer {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70%;
}

#newOrderModal .modal-context .buttonsContainer > button {
  cursor: pointer;
}

#newOrderModal .modal-context .buttonsContainer > button.submitButton {
  font-size: 20px;
  background-color: #39a487;
  outline: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 0px solid transparent;
  padding: 20px 16px;
  color: whitesmoke;
  width: 65%;
}

#newOrderModal .modal-context .buttonsContainer > button.submitButton:hover {
  background-color: #318d74;
}

#newOrderModal .modal-context .buttonsContainer > button.cancelButton {
  font-size: 20px;
  height: 100%;
  width: 35%;
  color: whitesmoke;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #e41010;
  outline: none;
  border: 0px solid transparent;
  padding: 20px 16px;
}

#newOrderModal .modal-context .buttonsContainer > button.cancelButton:hover {
  background-color: #c70e0e;
}

#newOrderModal .modal-context .errorMessage {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 2px;
  background-color: #ff9999;
  color: whitesmoke;
}

#newOrderAudioNarrationSection {
  height: 120px;
  width: 100%;
  border: 1px solid #ced0d4;
  border-radius: 5px;
  overflow-y: auto;
}

#newOrderAudioNarrationSection .maj-AudioButtons {
  margin-bottom: 5px;
}

#newOrderAudioNarrationSection .maj-AudioButtons button {
  background-color: #faa892;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin: 0px 5px;
}

#newOrderAudioNarrationSection .maj-AudioButtons #uploadButton:hover {
  background-color: #fbb4a1;
}

#newOrderAudioNarrationSection .maj-AudioButtons #downloadAll {
  background-color: #387ec9;
}

#newOrderAudioNarrationSection .maj-AudioButtons #downloadAll:hover {
  background-color: dodgerblue;
}

#newOrderAudioNarrationSection .Narrationcontainer {
  height: 67%;
  width: 100%;
  margin-bottom: 8px;
}

#newOrderAudioNarrationSection .Narrationcontainer > p {
  margin-top: 3px;
  margin-bottom: 3px;
}

#newOrderAudioNarrationSection .Narrationcontainer:last-child {
  margin-bottom: 0px;
}

#newOrderAudioNarrationSection .Narrationcontainer > .textWrapper {
  height: 80%;
  width: 100%;
}

#newOrderAudioNarrationSection .Narrationcontainer > .textWrapper > textarea {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  resize: none;
  overflow-y: auto;
  padding: 15px;
  font-size: 17px;
  outline: none;
}

#newOrderAudioNarrationSection .Narrationcontainer > .textWrapper > textarea:focus {
  border-color: #9ecaed;
  -webkit-box-shadow: 0 0 10px #9ecaed;
          box-shadow: 0 0 10px #9ecaed;
}

#newOrderAudioNarrationSection .Narrationcontainer > .audioPlayer {
  height: 26%;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  background-color: #0f0f0f;
}

#newOrderAudioNarrationSection .Narrationcontainer > .audioPlayer > .visual > .progress {
  background-color: #318d74;
  width: 50%;
  height: 3px;
}

#newOrderAudioNarrationSection .Narrationcontainer > .audioPlayer > .visual > .audioButtons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#newOrderAudioNarrationSection .Narrationcontainer > .audioPlayer > .visual > .audioButtons > .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#newOrderAudioNarrationSection .Narrationcontainer > .audioPlayer > .visual > .audioButtons > .container > .uploadButton {
  position: relative;
  height: 32px;
  width: 110px;
}

#newOrderAudioNarrationSection .Narrationcontainer > .audioPlayer > .visual > .audioButtons > .container > .playButton {
  position: relative;
  height: 32px;
  width: 80px;
}

#newOrderAudioNarrationSection .Narrationcontainer > .audioPlayer > .visual > .audioButtons > .container > .playButton > .playToggle {
  font-size: 24px;
  color: #387ec9;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 3px;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#newOrderAudioNarrationSection .Narrationcontainer > .audioPlayer > .visual > .audioButtons > .container > .playButton > .playToggle:hover {
  opacity: .7;
}

#newOrderAudioNarrationSection .Narrationcontainer > .audioPlayer > .visual > .audioButtons > .container > .downloadButton {
  position: relative;
  height: 32px;
  width: 110px;
}

#newOrderAudioNarrationSection .Narrationcontainer > .audioPlayer > .visual > .audioButtons > .container button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid transparent;
  outline: none;
  padding: 7px 4px;
  border: 2px solid #BFC0C0;
  color: #BFC0C0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  background-color: #2D3142;
  cursor: pointer;
  -webkit-transition: all .23s ease-in-out;
  transition: all .23s ease-in-out;
}

#newOrderAudioNarrationSection .Narrationcontainer > .audioPlayer > .visual > .audioButtons > .container button:hover {
  background-color: #BFC0C0;
  color: #2D3142;
}

#EditModal {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 2000;
  width: 100vw;
  max-width: 100%;
  background-color: rgba(87, 85, 85, 0.7);
  -webkit-animation: fade-in .3s ease-in 1;
          animation: fade-in .3s ease-in 1;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#EditModal .closing {
  -webkit-animation: fade-out .3s ease-in 1;
          animation: fade-out .3s ease-in 1;
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#EditModal.close {
  opacity: 0;
  -webkit-transition: opacity .35s ease-out;
  transition: opacity .35s ease-out;
}

#EditModal.close .modalContainer.close {
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-transform: translateY(-30px) rotateY(-16deg);
          transform: translateY(-30px) rotateY(-16deg);
}

#EditModal > .modalWrapper {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#EditModal > .modalWrapper > .modalContainer {
  position: relative;
  height: 750px;
  width: 620px;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 25px;
  -webkit-animation: walk-inEdit .35s ease-out 1;
          animation: walk-inEdit .35s ease-out 1;
}

#EditModal > .modalWrapper > .modalContainer #trashcan {
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 25px;
}

@-webkit-keyframes walk-inEdit {
  from {
    -webkit-transform: translateY(-30px) rotateY(16deg);
            transform: translateY(-30px) rotateY(16deg);
  }
  to {
    -webkit-transform: translateY(0px) rotateY(0deg);
            transform: translateY(0px) rotateY(0deg);
  }
}

@keyframes walk-inEdit {
  from {
    -webkit-transform: translateY(-30px) rotateY(16deg);
            transform: translateY(-30px) rotateY(16deg);
  }
  to {
    -webkit-transform: translateY(0px) rotateY(0deg);
            transform: translateY(0px) rotateY(0deg);
  }
}

#EditModal > .modalWrapper > .modalContainer > h4 {
  font-size: 22px;
  text-align: center;
}

#EditModal > .modalWrapper > .modalContainer > p {
  font-size: 11px;
  color: gray;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 11px;
}

#EditModal > .modalWrapper > .modalContainer > .inputField {
  margin-bottom: 7px;
}

#EditModal > .modalWrapper > .modalContainer > .inputField > .labelfield {
  margin-bottom: 3px;
  font-weight: 100;
  font-size: 12px;
}

#EditModal > .modalWrapper > .modalContainer > .inputField > input {
  outline: none;
  border-top: 0px solid transparent;
  border-left: 1px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 1px solid #39a487;
  padding: 6px 3px;
  font-size: 13.5px;
  width: 100%;
  background-color: whitesmoke;
}

#EditModal > .modalWrapper > .modalContainer > .inputField .dropDown {
  margin-top: 2.3px;
  color: black;
  line-height: 13px;
  outline: none;
  background-color: transparent;
  border: none;
  padding: 3px 0px;
  width: 50%;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid #39a487;
}

#EditModal > .modalWrapper > .modalContainer > .statusContainer {
  width: 100%;
  padding: 6px 2px;
  font-size: 17.3px;
}

#EditModal > .modalWrapper > .modalContainer > .statusContainer span.NyOrdre {
  color: red;
}

#EditModal > .modalWrapper > .modalContainer > .statusContainer span.UnderProduktion {
  color: #2c80ce;
}

#EditModal > .modalWrapper > .modalContainer > .statusContainer span.GodkendProduktion {
  color: rosybrown;
}

#EditModal > .modalWrapper > .modalContainer > .statusContainer span.FærdigSendt {
  color: #39a487;
}

#EditModal > .modalWrapper > .modalContainer .errorMessage {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 2px;
  background-color: #ff9999;
  color: whitesmoke;
}

#EditModal > .modalWrapper > .modalContainer .buttonsContainer {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
}

#EditModal > .modalWrapper > .modalContainer .buttonsContainer > button {
  cursor: pointer;
}

#EditModal > .modalWrapper > .modalContainer .buttonsContainer > button.nextButton {
  font-size: 16px;
  background-color: #387ec9;
  outline: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 0px solid transparent;
  padding: 20px 0px;
  color: whitesmoke;
  width: calc(100% / 3);
}

#EditModal > .modalWrapper > .modalContainer .buttonsContainer > button.nextButton:hover {
  background-color: #306fb2;
}

#EditModal > .modalWrapper > .modalContainer .buttonsContainer > button.submitButton {
  font-size: 16px;
  background-color: #39a487;
  outline: none;
  border: 0px solid transparent;
  padding: 20px 0px;
  color: whitesmoke;
  width: calc(100% / 3);
}

#EditModal > .modalWrapper > .modalContainer .buttonsContainer > button.submitButton:hover {
  background-color: #318d74;
}

#EditModal > .modalWrapper > .modalContainer .buttonsContainer > button.cancelButton {
  font-size: 16px;
  height: 100%;
  width: calc(100% / 3);
  color: whitesmoke;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #e41010;
  outline: none;
  border: 0px solid transparent;
  padding: 20px 0px;
}

#EditModal > .modalWrapper > .modalContainer .buttonsContainer > button.cancelButton:hover {
  background-color: #c70e0e;
}

#EditModal > .modalWrapper > .modalContainer .buttonsContainer > button.cancelButton.closeButton {
  border-radius: 10px;
  margin: 0 auto;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

#EditModal > .modalWrapper > .modalContainer .buttonsContainer > button.genskabButton {
  font-size: 16px;
  background-color: #39a487;
  outline: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 0px solid transparent;
  padding: 20px 0px;
  color: whitesmoke;
  width: calc(100% / 3);
}

#EditModal > .modalWrapper > .modalContainer .buttonsContainer > button.genskabButton:hover {
  background-color: #318d74;
}

#EditModal > .modalWrapper > .modalContainer .buttonsContainer > button.deleteButton {
  font-size: 16px;
  background-color: #9a4bd1;
  outline: none;
  border: 0px solid transparent;
  padding: 20px 0px;
  color: whitesmoke;
  width: calc(100% / 3);
}

#EditModal > .modalWrapper > .modalContainer .buttonsContainer > button.deleteButton:hover {
  background-color: #8c34ca;
}

#noSound {
  margin-left: 5px;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 6px;
}

.RecordingContainer {
  height: 30px;
  width: 80%;
  margin: 0 10% 0% 5px;
}

.RecordingContainer > .visual {
  display: inline-block;
}

.RecordingContainer > .visual > * {
  font-size: 18px;
  margin-right: 3px;
}

.RecordingContainer > .visual > .trashcan {
  margin-left: 0px !important;
  color: red;
}

.RecordingContainer > .visual > i {
  margin: 0px 6px;
  cursor: pointer;
}

#AudioNarrationSection {
  height: 215px;
  width: 100%;
  border: 1px solid #ced0d4;
  border-radius: 5px;
  overflow-y: auto;
}

#AudioNarrationSection .maj-AudioButtons {
  margin-bottom: 5px;
}

#AudioNarrationSection .maj-AudioButtons button {
  background-color: #faa892;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin: 0px 5px;
}

#AudioNarrationSection .maj-AudioButtons #uploadButton:hover {
  background-color: #fbb4a1;
}

#AudioNarrationSection .maj-AudioButtons #downloadAll {
  background-color: #387ec9;
}

#AudioNarrationSection .maj-AudioButtons #downloadAll:hover {
  background-color: dodgerblue;
}

#AudioNarrationSection .Narrationcontainer {
  height: 67%;
  width: 100%;
  margin-bottom: 8px;
}

#AudioNarrationSection .Narrationcontainer > p {
  margin-top: 3px;
  margin-bottom: 3px;
}

#AudioNarrationSection .Narrationcontainer:last-child {
  margin-bottom: 0px;
}

#AudioNarrationSection .Narrationcontainer > .textWrapper {
  height: 74%;
  width: 100%;
}

#AudioNarrationSection .Narrationcontainer > .textWrapper > textarea {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  resize: none;
  overflow-y: auto;
  padding: 15px;
  font-size: 17px;
  outline: none;
}

#AudioNarrationSection .Narrationcontainer > .textWrapper > textarea:focus {
  border-color: #9ecaed;
  -webkit-box-shadow: 0 0 10px #9ecaed;
          box-shadow: 0 0 10px #9ecaed;
}

#AudioNarrationSection .Narrationcontainer > .audioPlayer {
  height: 26%;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  background-color: #0f0f0f;
}

#AudioNarrationSection .Narrationcontainer > .audioPlayer > .visual > .progress {
  background-color: #318d74;
  width: 50%;
  height: 3px;
}

#AudioNarrationSection .Narrationcontainer > .audioPlayer > .visual > .audioButtons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#AudioNarrationSection .Narrationcontainer > .audioPlayer > .visual > .audioButtons > .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#AudioNarrationSection .Narrationcontainer > .audioPlayer > .visual > .audioButtons > .container > .uploadButton {
  position: relative;
  height: 32px;
  width: 110px;
}

#AudioNarrationSection .Narrationcontainer > .audioPlayer > .visual > .audioButtons > .container > .playButton {
  position: relative;
  height: 32px;
  width: 80px;
}

#AudioNarrationSection .Narrationcontainer > .audioPlayer > .visual > .audioButtons > .container > .playButton > .playToggle {
  font-size: 24px;
  color: #387ec9;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 3px;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#AudioNarrationSection .Narrationcontainer > .audioPlayer > .visual > .audioButtons > .container > .playButton > .playToggle:hover {
  opacity: .7;
}

#AudioNarrationSection .Narrationcontainer > .audioPlayer > .visual > .audioButtons > .container > .downloadButton {
  position: relative;
  height: 32px;
  width: 110px;
}

#AudioNarrationSection .Narrationcontainer > .audioPlayer > .visual > .audioButtons > .container button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid transparent;
  outline: none;
  padding: 7px 4px;
  border: 2px solid #BFC0C0;
  color: #BFC0C0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  background-color: #2D3142;
  cursor: pointer;
  -webkit-transition: all .23s ease-in-out;
  transition: all .23s ease-in-out;
}

#AudioNarrationSection .Narrationcontainer > .audioPlayer > .visual > .audioButtons > .container button:hover {
  background-color: #BFC0C0;
  color: #2D3142;
}

#commentsection {
  position: absolute;
  top: 45%;
  left: calc(50% + 470px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 750px;
  width: 300px;
  background-color: whitesmoke;
  border-radius: 10px;
}

#commentsection > .commentContainer {
  height: 100%;
  width: 100%;
  position: relative;
}

#commentsection > .commentContainer > .commentWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 92.3%;
  height: 96.3%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#commentsection > .commentContainer > .commentWrapper > .commentsBox {
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 77.5%;
  overflow-y: auto;
  vertical-align: bottom;
  position: relative;
}

#commentsection > .commentContainer > .commentWrapper > .commentsBox > .loaderWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#commentsection > .commentContainer > .commentWrapper > .commentsBox > .nomessageText {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 12px;
  width: 100%;
  color: #0b0b0b;
  font-weight: 100;
  text-align: center;
}

#commentsection > .commentContainer > .commentWrapper > .commentsBox > .commentContainer {
  width: 100%;
  float: left;
}

#commentsection > .commentContainer > .commentWrapper > .commentsBox > .commentContainer > .commentWrapper {
  max-width: 70%;
  margin: 7px 10px;
}

#commentsection > .commentContainer > .commentWrapper > .commentsBox > .commentContainer > .commentWrapper.left {
  float: left;
}

#commentsection > .commentContainer > .commentWrapper > .commentsBox > .commentContainer > .commentWrapper.right {
  float: right;
}

#commentsection > .commentContainer > .commentWrapper > .commentsBox > .commentContainer > .commentWrapper > .comment {
  background-color: #E4E6EB;
  padding: 7px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
}

#commentsection > .commentContainer > .commentWrapper > .commentsBox > .commentContainer > .commentWrapper > .comment > h6 {
  font-size: 12px;
  font-weight: 200;
  color: #faa892;
  margin-bottom: 3px;
}

#commentsection > .commentContainer > .commentWrapper > .commentsBox > .commentContainer > .commentWrapper > .comment > p {
  font-weight: 400;
  font-size: 14px;
  word-break: break-all;
}

#commentsection > .commentContainer > .commentWrapper > .createComment {
  width: 100%;
  height: 22.5%;
  background-color: grey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}

#commentsection > .commentContainer > .commentWrapper > .createComment > textarea {
  margin: 17px 7px 5px 7px;
  width: 94%;
  height: 60%;
  resize: none;
  overflow-y: auto;
  outline: none;
  padding: 1px 3px;
  line-height: 1.42857143;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#commentsection > .commentContainer > .commentWrapper > .createComment > textarea:focus {
  border-color: #9ecaed;
  -webkit-box-shadow: 0 0 10px #9ecaed;
          box-shadow: 0 0 10px #9ecaed;
}

#commentsection > .commentContainer > .commentWrapper > .createComment > button {
  float: right;
  margin-right: 7px;
  color: whitesmoke;
  background-color: #39a487;
  padding: 5px 7px;
  border-radius: 5px;
  cursor: pointer;
  border: 0px solid transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  outline: none;
}

#commentsection > .commentContainer > .commentWrapper > .createComment > button:hover {
  background-color: #2e866e;
}

#login {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(#50a3a2), to(#53e3a6));
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  position: relative;
}

#login > .form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 3px;
  background-color: transparent;
  overflow: hidden;
  min-height: 270px;
  width: 340px;
}

#login > .form-container > h1 {
  font-size: 40px;
  text-align: center;
  font-weight: 200;
  padding: 20px;
  color: #ffffff;
}

#login > .form-container .form {
  display: block;
  position: relative;
}

#login > .form-container .form > input.credential {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}

#login > .form-container .form > input.credential:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

#login > .form-container .form > input.credential:focus {
  background-color: white;
  width: 300px;
  color: #53e3a6;
}

#login > .form-container .form > input.credential::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}

#login > .form-container .form input[type="checkbox"] {
  margin-left: 45px;
  padding: 20px;
  padding-bottom: 17px;
  float: left;
}

#login > .form-container .form > p {
  font-size: 13px;
  font-weight: 100;
  color: #ffffff;
  padding: 0px 10px;
  margin-left: 60px;
  margin-bottom: 10px;
  line-height: 16px;
}

#login > .form-container .form button {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: #faa892;
  border: 0;
  margin: 0 auto;
  padding: 10px 15px;
  color: #ffffff;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

#login > .form-container .form button:hover {
  background-color: rgba(250, 168, 146, 0.88);
}

#login > .form-container > a {
  padding: 20px;
  font-size: 13px;
  font-weight: 100;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

#config-page {
  margin-left: 230px;
  width: 100%;
}

#config-page .greyout {
  opacity: .7;
}

#config-page > .myuserContainer {
  padding: 40px 10px;
  width: 100%;
}

#config-page > .myuserContainer #myUser {
  border-radius: 10px;
  width: 800px;
  padding: 25px;
  background-color: #faa892;
}

#config-page > .myuserContainer #myUser > .Userwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#config-page > .myuserContainer #myUser > .Userwrapper p {
  font-size: 17px;
  color: #ffffff;
  margin-bottom: 5px;
  margin-top: 5px;
}

#config-page > .myuserContainer #myUser > .Userwrapper p.roles {
  text-align: center;
}

#config-page > .myuserContainer #myUser > .Userwrapper label {
  width: 100%;
  font-size: 17px;
  color: #ffffff;
}

#config-page > .myuserContainer #myUser > .Userwrapper input {
  margin-bottom: 6px;
  width: 80%;
  font-size: 17px;
  background-color: white;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 2px 3px;
  display: block;
  text-align: left;
  font-weight: 300;
  color: #53e3a6;
}

#config-page > .myuserContainer #myUser > .Userwrapper > .userinfoContainer {
  width: 35%;
}

#config-page > .myuserContainer #myUser > .Userwrapper > .passwordContainer {
  width: 35%;
}

#config-page > .myuserContainer #myUser > .Userwrapper > .rolesContainer {
  width: 30%;
}

#config-page > .myuserContainer #myUser > .editMyUser {
  background-color: #387ec9;
  padding: 7px 10px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid transparent;
  color: #ffffff;
  margin-top: 14px;
  margin-right: 7px;
  cursor: pointer;
}

#config-page > .myuserContainer #myUser > .editMyUser:hover {
  background-color: #2e6aaa;
}

#config-page > .adminButtons {
  padding: 17px 10px 0px 10px;
  margin-bottom: -12px;
}

#config-page > .adminButtons > button {
  padding: 11px 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  color: #ffffff;
  margin-right: 7px;
  cursor: pointer;
}

#config-page > .adminButtons > .newUser {
  background-color: #3aae8f;
}

#config-page > .adminButtons > .newUser:hover {
  background-color: #308f76;
}

#config-page > .userlistContainer {
  width: 100%;
  padding-left: 10px;
}

#config-page > .userlistContainer .userRow td {
  position: relative;
}

#config-page > .userlistContainer .userRow td > .center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0px 10px;
}

#config-page > .userlistContainer .userRow td > .center input[type="checkbox"] {
  cursor: pointer;
  position: relative;
  width: 75px;
  height: 22px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#333), to(#3d3535));
  background: linear-gradient(0deg, #333, #3d3535);
  outline: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 0 2px #005156, 0 0 0 3px #e6dede, inset 0 0 10px #000000, 0 5px 20px #faf5f53c;
          box-shadow: 0 0 0 2px #005156, 0 0 0 3px #e6dede, inset 0 0 10px #000000, 0 5px 20px #faf5f53c;
}

#config-page > .userlistContainer .userRow td > .center input[type="checkbox"]:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 22px;
  background: -webkit-gradient(linear, left bottom, left top, from(#005156), to(#005156));
  background: linear-gradient(0deg, #005156, #005156);
  border-radius: 10px;
  -webkit-transform: scale(0.925);
          transform: scale(0.925);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#config-page > .userlistContainer .userRow td > .center input[type="checkbox"]:after {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: calc(10% + 20px);
  width: 10px;
  height: 4px;
  background: #b40d0d;
  border-radius: 10px;
  -webkit-transform: scale(0.98, 0.96);
          transform: scale(0.98, 0.96);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#config-page > .userlistContainer .userRow td > .center input:checked[type="checkbox"]:before {
  left: 30px;
}

#config-page > .userlistContainer .userRow td > .center input:checked[type="checkbox"]:after {
  left: calc(50% + 20px);
  background: #3aae8f;
}

#config-page > .userlistContainer .userRow .SaveButton {
  background-color: #387ec9;
  padding: 11px 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  color: #ffffff;
  margin-right: 7px;
  cursor: pointer;
}

#config-page > .userlistContainer .userRow .SaveButton:hover {
  background-color: #2e6aaa;
}

#config-page > .userlistContainer .userRow .logButton {
  background-color: #faa892;
  padding: 11px 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  color: #ffffff;
  margin-right: 7px;
  cursor: pointer;
}

#config-page > .userlistContainer .userRow .logButton:hover {
  background-color: #f8896b;
}

#NewUserModal {
  position: fixed;
  top: 0;
  z-index: 2000;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: rgba(87, 85, 85, 0.7);
  -webkit-animation: fade-in .3s ease-in 1;
          animation: fade-in .3s ease-in 1;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#NewUserModal .closing {
  -webkit-animation: fade-out .3s ease-in 1;
          animation: fade-out .3s ease-in 1;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#NewUserModal.close {
  opacity: 0;
  -webkit-transition: opacity .35s ease-out;
  transition: opacity .35s ease-out;
}

#NewUserModal.close .modalContainer.close {
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-transform: translateY(-30px) rotateY(-16deg);
          transform: translateY(-30px) rotateY(-16deg);
}

#NewUserModal > .modalWrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#NewUserModal > .modalWrapper > .modalContainer {
  position: relative;
  height: 70vh;
  width: 620px;
  max-width: 35vw;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 25px;
  -webkit-animation: walk-inEdit .35s ease-out 1;
          animation: walk-inEdit .35s ease-out 1;
}

@keyframes walk-inEdit {
  from {
    -webkit-transform: translateY(-30px) rotateY(16deg);
            transform: translateY(-30px) rotateY(16deg);
  }
  to {
    -webkit-transform: translateY(0px) rotateY(0deg);
            transform: translateY(0px) rotateY(0deg);
  }
}

#NewUserModal > .modalWrapper > .modalContainer > .errorMessage {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 2px;
  background-color: #ff9999;
  color: whitesmoke;
}

#NewUserModal > .modalWrapper > .modalContainer > h4 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 17px;
}

#NewUserModal > .modalWrapper > .modalContainer > .inputField {
  margin-bottom: 10px;
}

#NewUserModal > .modalWrapper > .modalContainer > .inputField.checkBoxField {
  margin: 12px 0px;
}

#NewUserModal > .modalWrapper > .modalContainer > .inputField > .labelfield {
  margin-bottom: 3px;
  font-weight: 100;
  font-size: 13px;
}

#NewUserModal > .modalWrapper > .modalContainer > .inputField > .checkLabel {
  position: relative;
}

#NewUserModal > .modalWrapper > .modalContainer > .inputField > .checkLabel > span {
  position: absolute;
  top: -5px;
  left: 15px;
  white-space: nowrap;
}

#NewUserModal > .modalWrapper > .modalContainer > .inputField > .textField {
  outline: none;
  border-top: 0px solid transparent;
  border-left: 1px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 1px solid #39a487;
  padding: 6px 3px;
  font-size: 16px;
  width: 100%;
  background-color: whitesmoke;
}

#NewUserModal > .modalWrapper > .modalContainer > .inputField input[type="checkbox"] {
  cursor: pointer;
  position: relative;
  width: 75px;
  height: 22px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#333), to(#3d3535));
  background: linear-gradient(0deg, #333, #3d3535);
  outline: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 0 2px #005156, 0 0 0 3px #e6dede, inset 0 0 10px #000000, 0 5px 20px #faf5f53c;
          box-shadow: 0 0 0 2px #005156, 0 0 0 3px #e6dede, inset 0 0 10px #000000, 0 5px 20px #faf5f53c;
}

#NewUserModal > .modalWrapper > .modalContainer > .inputField input[type="checkbox"]:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 22px;
  background: -webkit-gradient(linear, left bottom, left top, from(#005156), to(#005156));
  background: linear-gradient(0deg, #005156, #005156);
  border-radius: 10px;
  -webkit-transform: scale(0.925);
          transform: scale(0.925);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#NewUserModal > .modalWrapper > .modalContainer > .inputField input[type="checkbox"]:after {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: calc(10% + 20px);
  width: 10px;
  height: 4px;
  background: #b40d0d;
  border-radius: 10px;
  -webkit-transform: scale(0.98, 0.96);
          transform: scale(0.98, 0.96);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#NewUserModal > .modalWrapper > .modalContainer > .inputField input:checked[type="checkbox"]:before {
  left: 30px;
}

#NewUserModal > .modalWrapper > .modalContainer > .inputField input:checked[type="checkbox"]:after {
  left: calc(50% + 20px);
  background: #3aae8f;
}

#NewUserModal > .modalWrapper > .modalContainer > .buttonsContainer {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
}

#NewUserModal > .modalWrapper > .modalContainer > .buttonsContainer > button {
  cursor: pointer;
  height: 80%;
  font-size: 16px;
}

#NewUserModal > .modalWrapper > .modalContainer > .buttonsContainer > button.createUserButton {
  background-color: #39a487;
  outline: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 0px solid transparent;
  padding: 20px 16px;
  color: whitesmoke;
  width: 65%;
}

#NewUserModal > .modalWrapper > .modalContainer > .buttonsContainer > button.createUserButton:hover {
  background-color: #318d74;
}

#NewUserModal > .modalWrapper > .modalContainer > .buttonsContainer > button.cancelButton {
  width: 35%;
  color: whitesmoke;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #e41010;
  outline: none;
  border: 0px solid transparent;
  padding: 20px 16px;
}

#NewUserModal > .modalWrapper > .modalContainer > .buttonsContainer > button.cancelButton:hover {
  background-color: #c70e0e;
}

.globalNotification {
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #ffffff;
  font-weight: 100;
  font-size: 13px;
  width: 350px;
  height: 90px;
  -webkit-animation: GoNotifier .2s 1 forwards;
          animation: GoNotifier .2s 1 forwards;
  -webkit-animation-timing-function: cubic-bezier(0.26, 0.43, 0.185, 1.23);
          animation-timing-function: cubic-bezier(0.26, 0.43, 0.185, 1.23);
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@-webkit-keyframes GoNotifier {
  from {
    bottom: -200px;
  }
  to {
    bottom: 30px;
  }
}

@keyframes GoNotifier {
  from {
    bottom: -200px;
  }
  to {
    bottom: 30px;
  }
}

.globalNotification.status200 {
  background-color: #2ecc40;
}

.globalNotification.statusError {
  background-color: #ff4136;
}

.globalNotification > .iconContainer {
  width: 16%;
  float: left;
  height: 100%;
  margin-right: 16px;
  position: relative;
}

.globalNotification > .iconContainer.status200 {
  background-color: #229930;
}

.globalNotification > .iconContainer.statusError {
  background-color: #bf3128;
}

.globalNotification > .iconContainer > i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.globalNotification > .messageContainer {
  position: relative;
  width: 84%;
  height: 100%;
  padding: 15px 1px 15px 2px;
}

.globalNotification > .messageContainer > button {
  margin-top: 14px;
  padding: 5px 4px;
  outline: none;
  width: 100px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  border: 1px solid transparent;
  cursor: pointer;
}

.globalNotification > .messageContainer > button.status200 {
  background-color: #229930;
}

.globalNotification > .messageContainer > button.statusError {
  background-color: #bf3128;
}

#confirmAlert {
  position: absolute;
  z-index: 2300;
  top: 20%;
  left: 50%;
  height: 200px;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 200px;
  text-align: center;
  width: 500px;
  padding: 40px;
  background: #39a487;
  -webkit-box-shadow: 0 20px 75px rgba(0, 0, 0, 0.23);
          box-shadow: 0 20px 75px rgba(0, 0, 0, 0.23);
  color: #fff;
  opacity: 0;
  -webkit-animation: AlertTransition 1 .36s ease-in-out .07s forwards;
          animation: AlertTransition 1 .36s ease-in-out .07s forwards;
}

@-webkit-keyframes AlertTransition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes AlertTransition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#confirmAlert > h1 {
  margin: 7px;
}

#confirmAlert > p {
  margin: 6px;
}

#confirmAlert > button {
  width: 160px;
  padding: 10px;
  border: 1px solid #fff;
  margin: 10px;
  cursor: pointer;
  background: none;
  color: #fff;
  font-size: 14px;
  outline: none;
}

#alertBackground {
  position: fixed;
  top: 0%;
  left: 0%;
  background: rgba(255, 255, 255, 0.84);
  background-position: center;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  width: 100vw;
  height: 100vh;
  z-index: 2200;
}

#logModal {
  position: fixed;
  top: 0;
  z-index: 2000;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: rgba(87, 85, 85, 0.7);
  -webkit-animation: fade-in .3s ease-in 1;
          animation: fade-in .3s ease-in 1;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#logModal .modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#logModal .modalWrapper > .modalContainer {
  height: 80vh;
  width: 600px;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 25px;
  -webkit-animation: walk-inEdit .35s ease-out 1;
          animation: walk-inEdit .35s ease-out 1;
}

#logModal .modalWrapper > .modalContainer > h3 {
  font-size: 22px;
  text-align: center;
}

@keyframes walk-inEdit {
  from {
    -webkit-transform: translateY(-30px) rotateY(16deg);
            transform: translateY(-30px) rotateY(16deg);
  }
  to {
    -webkit-transform: translateY(0px) rotateY(0deg);
            transform: translateY(0px) rotateY(0deg);
  }
}

#logModal .modalWrapper > .modalContainer > .logBox {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 85%;
  margin: 13px 0px;
  overflow-y: auto;
  vertical-align: bottom;
  position: relative;
  overflow: auto;
}

#logModal .modalWrapper > .modalContainer > .logBox > .loaderWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#logModal .modalWrapper > .modalContainer > .logBox > .loaderWrapper > .loader {
  margin-left: 0px;
}

#logModal .modalWrapper > .modalContainer .closeButton {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  border-radius: 10px;
  width: 40%;
  background-color: #e41010;
  outline: none;
  font-size: 16px;
  border: 0px solid transparent;
  padding: 14px 0px;
  color: whitesmoke;
  cursor: pointer;
}

#logModal .modalWrapper > .modalContainer .closeButton:hover {
  background-color: #c70e0e;
}

.Log {
  display: inline-block;
  background: #F0F2F1;
  text-align: left;
  border-radius: 5px;
  margin: 10px 2%;
  min-height: 45px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 96%;
  color: gray;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.Log:hover {
  background: black;
  color: whitesmoke;
}

.Log > .operation {
  font-size: 14px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #D2D3D5;
}

.Log > .underInfo {
  font-size: 12.3px;
}

.Log > .underInfo > * {
  float: left;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.Log > .underInfo > .username {
  border-right: 1px solid #D2D3D5;
}

.Log > .underInfo > .action {
  float: right;
}

.Log > .underInfo > .action > .Update {
  color: #24baff;
}

.Log > .underInfo > .action > .Create {
  color: green;
}

.Log > .underInfo > .action > .Delete {
  color: red;
}

.Log > .underInfo > .action > .Read {
  color: #2b2b8d;
}

.Log > .underInfo > .action span {
  text-transform: uppercase;
  font-weight: 500;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#App {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
/*# sourceMappingURL=index.css.map */