@import "./initial";
@import "./pages/newOrder/NewOrder";
@import "./pages/shared/editModal";
@import "./pages/login";
@import "./pages/configpage/main";
@import "./global/notifier";
@import "./global/confirmAlert";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#App {
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    position: relative;
}