@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

.loader {
  margin-left: 40px;
}

body {
  background-color: #f3f5f9;
}

.space {
  margin-right: 5px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 230px;
  height: 100%;
  background: #39a487;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul a.active li {
  background-color: #318d74;
}

.wrapper .sidebar ul li p {
  color: #fff;
  display: block;
}

.wrapper .sidebar ul li p .fas {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: #3aae8f;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.wrapper .sidebar .bottom_icons {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .sidebar .bottom_icons a {
  display: block;
  width: 40px;
  background: #333333;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content {
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header {
  padding: 10px;
  padding-left: 40px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info {
  margin-left: 40px;
  margin-top: 10px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div {
  margin-bottom: 20px;
}

/* GLOBAL KNAP DESIGN */
.button {
  background-color: #faa892;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.button2 {
  background-color: #3aae8f;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.selector {
  background-color: #ffffff;
  border: none;
  padding: 10px 32px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

/* CSS TIL TABLE MANAGEMENT */
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #005156;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #005156;
}

.move {
  margin-left: 40px;
  margin-top: 12px;
}

.logo {
  width: 150px;
  display: inline-block;
  margin-left: 26px;
  margin-bottom: 5px;
}

.modal {
  left: 0;
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(87, 85, 85, 0.7);
  -webkit-animation: fade-in .3s ease-in 1;
          animation: fade-in .3s ease-in 1;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal .modalContainer {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: whitesmoke;
  height: 70vh;
  width: 700px;
  border-radius: 25px;
  padding: 25px;
}

#newOrderModal .modal-context {
  position: relative;
  height: 100%;
  -webkit-animation: walk-in .3s ease-in 1;
          animation: walk-in .3s ease-in 1;
}

#newOrderModal .modal-context > h4 {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

#newOrderModal .modal-context > .inputField {
  margin-bottom: 10px;
}

#newOrderModal .modal-context > .inputField > .labelfield {
  margin-bottom: 3px;
  font-weight: 100;
  font-size: 14px;
}

#newOrderModal .modal-context > .inputField > input {
  outline: none;
  border-top: 0px solid transparent;
  border-left: 1px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 1px solid #39a487;
  padding: 6px 3px;
  font-size: 20px;
  width: 100%;
  background-color: whitesmoke;
}

#newOrderModal .modal-context .submitOrder {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70%;
  font-size: 20px;
  background-color: #39a487;
  outline: none;
  border-radius: 25px;
  border: 0px solid transparent;
  padding: 20px 16px;
  color: whitesmoke;
}

#newOrderModal .modal-context .submitOrder:hover {
  cursor: pointer;
  background-color: #318d74;
}

#newOrderModal .modal-context .buttonsContainer {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70%;
}

#newOrderModal .modal-context .buttonsContainer > button {
  cursor: pointer;
}

#newOrderModal .modal-context .buttonsContainer > button.submitButton {
  font-size: 20px;
  background-color: #39a487;
  outline: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 0px solid transparent;
  padding: 20px 16px;
  color: whitesmoke;
  width: 65%;
}

#newOrderModal .modal-context .buttonsContainer > button.submitButton:hover {
  background-color: #318d74;
}

#newOrderModal .modal-context .buttonsContainer > button.cancelButton {
  font-size: 20px;
  height: 100%;
  width: 35%;
  color: whitesmoke;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #e41010;
  outline: none;
  border: 0px solid transparent;
  padding: 20px 16px;
}

#newOrderModal .modal-context .buttonsContainer > button.cancelButton:hover {
  background-color: #c70e0e;
}

#newOrderModal .modal-context .errorMessage {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 2px;
  background-color: #ff9999;
  color: whitesmoke;
}

#EditModal {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: rgba(87, 85, 85, 0.7);
  -webkit-animation: fade-in .3s ease-in 1;
          animation: fade-in .3s ease-in 1;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#EditModal .closing {
  -webkit-animation: fade-out .3s ease-in 1;
          animation: fade-out .3s ease-in 1;
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#EditModal.close {
  opacity: 0;
  -webkit-transition: opacity .35s ease-out;
  transition: opacity .35s ease-out;
}

#EditModal.close .modalContainer.close {
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-transform: translateY(-30px) rotateY(-16deg);
          transform: translateY(-30px) rotateY(-16deg);
}

#EditModal > .modalWrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#EditModal > .modalWrapper > .modalContainer {
  position: relative;
  height: 70vh;
  width: 700px;
  background-color: whitesmoke;
  border-radius: 25px;
  padding: 25px;
  -webkit-animation: walk-inEdit .35s ease-out 1;
          animation: walk-inEdit .35s ease-out 1;
}

@-webkit-keyframes walk-inEdit {
  from {
    -webkit-transform: translateY(-30px) rotateY(16deg);
            transform: translateY(-30px) rotateY(16deg);
  }
  to {
    -webkit-transform: translateY(0px) rotateY(0deg);
            transform: translateY(0px) rotateY(0deg);
  }
}

@keyframes walk-inEdit {
  from {
    -webkit-transform: translateY(-30px) rotateY(16deg);
            transform: translateY(-30px) rotateY(16deg);
  }
  to {
    -webkit-transform: translateY(0px) rotateY(0deg);
            transform: translateY(0px) rotateY(0deg);
  }
}

#EditModal > .modalWrapper > .modalContainer > h4 {
  font-size: 24px;
  text-align: center;
}

#EditModal > .modalWrapper > .modalContainer > p {
  font-size: 12px;
  color: gray;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 20px;
}

#EditModal > .modalWrapper > .modalContainer > .inputField {
  margin-bottom: 10px;
}

#EditModal > .modalWrapper > .modalContainer > .inputField > .labelfield {
  margin-bottom: 3px;
  font-weight: 100;
  font-size: 14px;
}

#EditModal > .modalWrapper > .modalContainer > .inputField > input {
  outline: none;
  border-top: 0px solid transparent;
  border-left: 1px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 1px solid #39a487;
  padding: 6px 3px;
  font-size: 20px;
  width: 100%;
  background-color: whitesmoke;
}

#EditModal > .modalWrapper > .modalContainer > .statusContainer {
  width: 100%;
  padding: 30px 2px;
  font-size: 26px;
}

#EditModal > .modalWrapper > .modalContainer > .statusContainer span.NyOrdre {
  color: red;
}

#EditModal > .modalWrapper > .modalContainer > .statusContainer span.GodkendtTilProduktion {
  color: #2c80ce;
}

#EditModal > .modalWrapper > .modalContainer > .statusContainer span.GodkendProduktion {
  color: rosybrown;
}

#EditModal > .modalWrapper > .modalContainer > .statusContainer span.FærdigSendt {
  color: #39a487;
}

#EditModal > .modalWrapper > .modalContainer .errorMessage {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 2px;
  background-color: #ff9999;
  color: whitesmoke;
}

#EditModal > .modalWrapper > .modalContainer .buttonsContainer {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
}

#EditModal > .modalWrapper > .modalContainer .buttonsContainer > button {
  cursor: pointer;
}

#EditModal > .modalWrapper > .modalContainer .buttonsContainer > button.nextButton {
  font-size: 20px;
  background-color: #387ec9;
  outline: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 0px solid transparent;
  padding: 20px 0px;
  color: whitesmoke;
  width: calc(100% / 3);
}

#EditModal > .modalWrapper > .modalContainer .buttonsContainer > button.nextButton:hover {
  background-color: #306fb2;
}

#EditModal > .modalWrapper > .modalContainer .buttonsContainer > button.submitButton {
  font-size: 20px;
  background-color: #39a487;
  outline: none;
  border: 0px solid transparent;
  padding: 20px 0px;
  color: whitesmoke;
  width: calc(100% / 3);
}

#EditModal > .modalWrapper > .modalContainer .buttonsContainer > button.submitButton:hover {
  background-color: #318d74;
}

#EditModal > .modalWrapper > .modalContainer .buttonsContainer > button.cancelButton {
  font-size: 20px;
  height: 100%;
  width: calc(100% / 3);
  color: whitesmoke;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #e41010;
  outline: none;
  border: 0px solid transparent;
  padding: 20px 0px;
}

#EditModal > .modalWrapper > .modalContainer .buttonsContainer > button.cancelButton:hover {
  background-color: #c70e0e;
}

#EditModal > .modalWrapper > .modalContainer .buttonsContainer > button.cancelButton.closeButton {
  border-radius: 25px;
  margin: 0 auto;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#App {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
/*# sourceMappingURL=index.css.map */