#EditModal {
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 2000;
    width: 100vw;
    max-width: 100%;
    background-color: rgba($color: #575555, $alpha: .7);

    animation: fade-in .3s ease-in 1;

    @keyframes fade-in {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .closing {
        animation: fade-out .3s ease-in 1;

        @keyframes fade-out {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
            }
        }
    }

    &.close {
        opacity: 0;
        transition: opacity .35s ease-out;

        .modalContainer.close {
            transition: transform .3s ease-out;
            transform: translateY(-30px) rotateY(-16deg);
        }
    }

    >.modalWrapper {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

        >.modalContainer {
            position: relative;
            height: 650px;
            width: 620px;
            max-width: 40vw;
            background-color: whitesmoke;
            border-radius: 5px;
            padding: 25px;
            animation: walk-inEdit .35s ease-out 1;

            #trashcan {
                cursor: pointer;
                position: absolute;
                right: 25px;
                top: 25px;
            }

            @keyframes walk-inEdit {
                from {
                    transform: translateY(-30px) rotateY(16deg);
                }

                to {
                    transform: translateY(0px) rotateY(0deg);
                }
            }

            >h4 {
                font-size: 22px;
                text-align: center;

            }

            >p {
                font-size: 11px;
                color: gray;
                user-select: none;
                margin-bottom: 20px;
            }

            >.inputField {
                margin-bottom: 10px;

                >.labelfield {
                    margin-bottom: 3px;
                    font-weight: 100;
                    font-size: 13px;
                }

                >input {
                    outline: none;
                    border-top: 0px solid transparent;
                    border-left: 1px solid transparent;
                    border-right: 0px solid transparent;
                    border-bottom: 1px solid #39a487;
                    padding: 6px 3px;
                    font-size: 16px;
                    width: 100%;
                    background-color: whitesmoke;
                }
            }

            >.statusContainer {
                width: 100%;
                padding: 30px 2px;
                font-size: 20px;

                span {

                    &.NyOrdre {
                        color: red;
                    }

                    &.UnderProduktion {
                        color: rgb(44, 128, 206);
                    }

                    &.GodkendProduktion {
                        color: rosybrown;
                    }

                    &.FærdigSendt {
                        color: #39a487;
                    }
                }
            }

            .errorMessage {
                display: none;
                width: fit-content;
                padding: 6px 2px;
                background-color: lighten(red, 30%);
                color: whitesmoke;
            }

            .buttonsContainer {
                position: absolute;
                bottom: 0px;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 70%;

                >button {
                    cursor: pointer;

                    &.nextButton {
                        font-size: 16px;
                        background-color: #387ec9;
                        outline: none;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        border: 0px solid transparent;
                        padding: 20px 0px;
                        color: whitesmoke;
                        width: calc(100% / 3);

                        &:hover {
                            background-color: darken(#387ec9, 6%);
                        }
                    }

                    &.submitButton {
                        font-size: 16px;
                        background-color: #39a487;
                        outline: none;
                        border: 0px solid transparent;
                        padding: 20px 0px;
                        color: whitesmoke;
                        width: calc(100% / 3);

                        &:hover {
                            background-color: darken(#39a487, 6%);
                        }
                    }

                    &.cancelButton {
                        font-size: 16px;
                        height: 100%;
                        width: calc(100% / 3);
                        color: whitesmoke;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        background-color: rgb(228, 16, 16);
                        outline: none;
                        border: 0px solid transparent;
                        padding: 20px 0px;

                        &:hover {
                            background-color: darken(rgb(228, 16, 16), 6%);
                        }

                        &.closeButton {
                            border-radius: 10px;
                            margin: 0 auto;
                            width: 40%;
                            margin-left: 30%;
                            margin-right: 30%;
                        }
                    }

                    &.genskabButton {
                        font-size: 16px;
                        background-color: #39a487;
                        outline: none;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        border: 0px solid transparent;
                        padding: 20px 0px;
                        color: whitesmoke;
                        width: calc(100% / 3);

                        &:hover {
                            background-color: darken($color: #39a487, $amount: 6%);
                        }
                    }

                    &.deleteButton {
                        font-size: 16px;
                        background-color: #9a4bd1;
                        outline: none;
                        border: 0px solid transparent;
                        padding: 20px 0px;
                        color: whitesmoke;
                        width: calc(100% / 3);

                        &:hover {
                            background-color: darken($color: #9a4bd1, $amount: 6%);
                        }
                    }
                }
            }
        }
    }
}


#commentsection {
    position: absolute;
    top: 40%;
    left: 16%;
    transform: translate(-50%, -50%);

    height: 650px;
    width: 300px;
    background-color: whitesmoke;
    border-radius: 10px;

    >.commentContainer {
        height: 100%;
        width: 100%;
        position: relative;

        >.commentWrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 92.3%;
            height: 96.3%;
            transform: translate(-50%, -50%);

            >.commentsBox {
                background-color: white;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                width: 100%;
                height: 77.5%;
                overflow-y: auto;
                vertical-align: bottom;
                position: relative;

                >.loaderWrapper {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                >.commentContainer {
                    width: 100%;
                    float: left;

                    >.commentWrapper {
                        max-width: 70%;
                        margin: 7px 10px;

                        &.left {
                            float: left;
                        }

                        &.right {
                            float: right;
                        }

                        >.comment {
                            background-color: #E4E6EB;
                            padding: 7px 10px;
                            width: fit-content;
                            border-radius: 15px;

                            >h6 {
                                font-size: 12px;
                                font-weight: 200;
                                color: #faa892;
                                margin-bottom: 3px;
                            }

                            >p {
                                font-weight: 400;
                                font-size: 14px;
                                word-break: break-all;
                            }
                        }
                    }
                }
            }

            >.createComment {
                width: 100%;
                height: 22.5%;
                background-color: grey;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                position: relative;

                >textarea {
                    margin: 17px 7px 5px 7px;
                    width: 94%;
                    height: 60%;
                    resize: none;
                    overflow-y: auto;
                    outline: none;
                    padding: 1px 3px;
                    line-height: 1.42857143;
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

                    &:focus {
                        border-color: #9ecaed;
                        box-shadow: 0 0 10px #9ecaed;
                    }
                }

                >button {
                    float: right;
                    margin-right: 7px;
                    color: whitesmoke;
                    background-color: #39a487;
                    padding: 5px 7px;
                    border-radius: 5px;
                    cursor: pointer;
                    border: 0px solid transparent;
                    width: fit-content;
                    outline: none;

                    &:hover {
                        background-color: darken($color: #39a487, $amount: 8%);
                    }
                }
            }
        }
    }
}